<form (ngSubmit)="submitForm()" [formGroup]="usuarioForm">
  <div class="mb-3">
    <label for="nome" class="form-label">Nome:</label>
    <input type="text" class="form-control" formControlName="nome" name="nome" id="nome" [(ngModel)]="usuario.nome">
    <div *ngIf="usuarioForm.get('nome')?.errors?.['required']" class="text-danger">O campo nome é obrigatório e deve ter entre 3 e 50 caracteres</div>
  </div>
  <div>
    <label for="email" class="form-label">Email:</label>
    <input type="email" class="form-control" formControlName="email" name="email" id="email" [(ngModel)]="usuario.email">
    <div *ngIf="usuarioForm.get('email')?.errors?.['required']" class="text-danger">O campo email é obrigatório e deve ser um e-mail válido</div>
  </div>
  <div>
    <label for="senha" class="form-label">Senha:</label>
    <input type="password" class="form-control" formControlName="senha" name="senha" id="senha" [(ngModel)]="usuario.senha">
    <div *ngIf="usuarioForm.get('senha')?.errors?.['required']" class="text-danger">O campo senha é obrigatório e deve ter entre 6 e 20 caracteres</div>
  </div>
  <div>
    <label for="confirmacaoSenha" class="form-label">Confirmação Senha:</label>
    <input type="password" class="form-control" formControlName="confirmacaoSenha" name="confirmacaoSenha" id="confirmacaoSenha" [(ngModel)]="usuario.confirmaSenha">
    <div *ngIf="usuarioForm.get('confirmacaoSenha')?.errors?.['required']" class="text-danger">O campo confirmação de senha é obrigatório e deve coincidir com a senha</div>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="usuarioForm.invalid">Cadastrar</button>
</form>
